form {
    padding: 1em;
    margin: 0 auto;
    width: 116px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 42px 6px rgba(0,0,0,0.75);
}

h1 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

input, label {
    display: block;
}